<div class="features-row">
  <section>
    <span class="icon major fa-bolt accent2"></span>
    <h3><%= link_to "#{events.first.try(:name)}", "#{events.first.try(:facebook_link)}" %></h3>
    <p><%= events.first.try(:description) %></p>
    <p>When: <%= events.first.try(:date).to_date %></p>
    <p>Where: <%= events.first.try(:location) %></p>
    <p>Start time: <%= events.first.try(:start_time) %></p>
    <p>End time: <%= events.first.try(:end_time) %></p>
  </section>

</div>
