<div class="features-row">
  <section>
    <span class="icon major fa-bolt accent2"></span>
    <h3><%= events.first.try(:name) %></h3>
    <p><%= events.first.try(:description) %></p>
  </section>
  <section>
    <span class="icon major fa-area-chart accent3"></span>
    <h3><%= events.second.try(:name) %></h3>
    <p><%= events.second.try(:description) %></p>
  </section>
</div>
<div class="features-row">
  <section>
    <span class="icon major fa-cloud accent4"></span>
    <h3><%= events.third.try(:name) %></h3>
    <p><%= events.third.try(:description) %></p>
  </section>
  <section>
    <span class="icon major fa-lock accent5"></span>
    <h3><%= events.fourth.try(:name) %></h3>
    <p><%= events.fourth.try(:description) %></p>
  </section>
</div>
