<h2 id="team-text">Partners</h2>
<div class="features-row">
  <section>
    <h2 id="team-text"><%= link_to 'Spectrum', 'http://spectrum.mcmaster.ca/' %></h2>
    <div class="pics">
      <%= link_to 'http://spectrum.mcmaster.ca/' do %>
        <%= image_tag asset_url("spectrum.png"), alt: "" %>
      <% end %>
    </div>
  </section>
  <section>
    <h2 id="team-text"><%= link_to 'Social Spark', 'http://www.thesocialspark.org/' %></h2>
    <div class="pics">
      <%= link_to 'http://www.thesocialspark.org/' do %>
        <%= image_tag asset_url("spark.png"), alt: "" %>
      <% end %>
    </div>
  </section>
</div>
