<h2 id="team-text">Sponsors</h2>
<div class="features-row">
  <section>
    <h2 id="team-text"><%= link_to 'The Forge', 'http://theforgehamilton.ca/' %></h2>
    <div class="pics">
      <%= link_to 'http://theforgehamilton.ca/' do %>
        <%= image_tag asset_url("Forge-01.png"), alt: "" %>
      <% end %>
    </div>
  </section>
  <section>
    <h2 id="team-text"><%= link_to 'W Booth School of Engineering Practice', 'http://wbooth.mcmaster.ca/' %></h2>
    <div class="pics">
      <%= link_to 'http://wbooth.mcmaster.ca/', id:'test' do %>
        <%= image_tag asset_url("Wbooth-01.png"), alt: "" %>
      <% end %>
    </div>
  </section>
</div>
