<h2 id="team-text">Team</h2>
<div class="features-row">
  <section>
    <h2 id="team-text">Joe Crozier</h2>
    <h3 id="team-text">Co-President</h3>
    <div class="pics">
      <%= image_tag asset_url("Dave.jpg"), alt: "" %>
    </div>
  </section>
  <section>
    <h2 id="team-text">Dave Nidumolu</h2>
    <h3 id="team-text">Co-President</h3>
    <div class="pics">
      <%= image_tag asset_url("Dave.jpg"), alt: "" %>
    </div>
  </section>
  <section>
    <h2 id="team-text">Danielle Fraser</h2>
    <h3 id="team-text">VP Marketing</h3>
    <div class="pics">
      <%= image_tag asset_url("Dave.jpg"), alt: "" %>
    </div>
  </section>
  <section>
    <h2 id="team-text">Danyal Khan</h2>
    <h3 id="team-text">VP Finance</h3>
    <div class="pics">
      <%= image_tag asset_url("Dave.jpg"), alt: "" %>
    </div>
  </section>
  <section>
    <h2 id="team-text">Gurbir Dhulla</h2>
    <h3 id="team-text">VP Technology</h3>
    <div class="pics">
      <%= image_tag asset_url("Dave.jpg"), alt: "" %>
    </div>
  </section>
  <section>
    <h2 id="team-text">Arka Ganguli</h2>
    <h3 id="team-text">VP Technology</h3>
    <div class="pics">
      <%= image_tag asset_url("arka.jpg"), alt: "" %>
    </div>
  </section>
</div>
