<h2 id="team-text">Team</h2>
<div class="features-row">
  <section>
    <h2 id="team-text">Joe Crozier</h2>
    <h3 id="team-text">Co-President</h3>
    <div class="pics">
      <%= image_tag asset_url("joe.jpg"), alt: "" %>
    </div>
  </section>
  <section>
    <h2 id="team-text">Dave Nidumolu</h2>
    <h3 id="team-text">Co-President</h3>
    <div class="pics">
      <%= image_tag asset_url("Dave.jpg"), alt: "" %>
    </div>
  </section>
  <section>
    <h2 id="team-text">Danielle Fraser</h2>
    <h3 id="team-text">VP Marketing</h3>
    <div class="pics">
      <%= image_tag asset_url("danielle.jpg"), alt: "" %>
    </div>
  </section>
  <section>
    <h2 id="team-text"><%= link_to 'Danyal Khan', 'https://www.linkedin.com/in/khandanyal' %></h2>
    <h3 id="team-text">VP Finance</h3>
    <div class="pics">
      <%= image_tag asset_url("danyal.jpg"), alt: "" %>
    </div>
  </section>
  <section>
    <h2 id="team-text">Gurbir Dhulla</h2>
    <h3 id="team-text">VP Technology</h3>
    <div class="pics">
      <%= image_tag asset_url("gurbir.jpg"), alt: "" %>
    </div>
  </section>
  <section>
    <h2 id="team-text"><%= link_to 'Arka Ganguli', 'https://ca.linkedin.com/in/arkag' %></h2>
    <h3 id="team-text">VP Technology</h3>
    <div class="pics">
      <%= image_tag asset_url("arka.jpg"), alt: "" %>
    </div>
  </section>
</div>
