<section id="banner">
  <%= render partial: "banner" %>
</section>

<section id="main" class="container">
  <section class="box special">
    <%= render partial: "events_tagline" %>
  </section>

  <section id="events" class="box special features">
    <%= render partial: "events", locals: { events: @events } %>
  </section>
</section>

<section id="learn" class=" box special features">
  <%= render partial: "learn" %>
</section>

<section class="box special features" id="team">
  <%= render partial: "team" %>
</section>

<section class="box special features" id="sponsors">
  <%= render partial: "sponsors" %>
</section>

<section class="box special features" id="partners">
  <%= render partial: "partners" %>
</section>

<footer id="footer">
  <%= render partial: "footer" %>
</footer>
