<section id="banner">
  <%= render partial: "banner" %>
</section>

<section id="main" class="container">

  <section class="box special">
    <%= render partial: "events_tagline" %>
  </section>

  <section class="box special features">
    <%= render partial: "events", locals: { events: @events } %>
  </section>

  <div class="row">
    <div class="6u 12u(narrower)">
      <%= render partial: "about" %>
    </div>

    <div class="6u 12u(narrower)">
      <%= render partial: "mission" %>
    </div>
  </div>

</section>

<footer id="footer">
  <%= render partial: "footer" %>
</footer>
